Repository pybash1/py_everything, pull requests merged in 2021-07, with the labels that each got.

#44 Merge bug fixes
  .readthedocs.yaml
  CONTRIBUTING.md
  docs/requirements.txt
  py_everything/bencrypt.py
  py_everything/path.py
  repository.md
  requirements.txt
Labels: attention-needed, bug

#60 Trying To Merge Two If in single statement #58
  py_everything/path.py
  py_everything/search.py
Labels: enhancement, search

#65 Fix #62
  py_everything/maths.py
Labels: enhancement, maths
